<div ng-controller="IssuesController as issuesCtr" class="container cf">
  <h3 class=' board-title' >{{titlesCtrl.titles[3]}}</h3>
  <table class='table-hover' >
    <thead>
      <tr class='table-titles' >
        <th>Submission</th>
        <th>Customer</th>
        <th>Email</th>
        <th>Description</th>
        <th>Status</th>
        <th>Closed</th>
        <th>Employee</th>
      </tr>        
    </thead>
    <tbody>
    <tr ng-repeat='data in issuesCtr.issues'>
      <td> {{data.submission}} </td>
      <td> {{data.customer}} </td>
      <td> {{data.email}} </td>
      <td> {{data.description}} </td>
      <td> {{data.status}} </td>
      <td> {{data.closed}} </td>
      <td> {{data.employee}} </td>
    </tr>     
    </tbody>
  </table>
</div>