<div ng-controller="IssuesController as issuesCtr" class="container cf">
  <h3 class=' board-title' >{{titlesCtrl.titles[3]}}</h3>
  <table class='table-hover' >
    <thead>
      <tr class='table-titles' >
        <th>Submission</th>
        <th>Customer</th>
        <th>Email</th>
        <th>Description</th>
        <th>Status</th>
        <th>Closed</th>
        <th>Employee</th>
      </tr>        
    </thead>
    <tbody>
    <tr ng-repeat='data in issuesCtr.issues'>
      <td> {{data[0]}} </td>
      <td> {{data[1]}} </td>
      <td> {{data[2]}} </td>
      <td> {{data[3]}} </td>
      <td> {{data[4]}} </td>
      <td> {{data[5]}} </td>
      <td> {{data[6]}} </td>
    </tr>     
    </tbody>
  </table>
</div>