<div class="container cf">
  <div class="text-center">We currently have: <strong>18</strong> opened issues.</div>

  <!-- Loader from http://tobiasahlin.com/spinkit/ , go check it out! -->
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>

  <div id="chart_div" class="center-block chart" ></div>
  <div id="chart_div2" class="center-block chart" ></div>    


</div>
